<div ng-controller="ClubController">
    <div layout="row" class="row-padLR">
        <div flex="60">
            <h2 class="marginV20"Sport Clubs:</h2>
        </div>
        <div flex="40">
            <h4 ng-if="$root.selectedClub && searchQuery == ''" style="text-align: right;">
                <span class="breadcrumbMain">Clubs</span>
                <span class="breadcrumbSub"> > {{crudType}} Sport Club</span></h4>
        </div>
    </div>
    <div layout="row" class="row-padLR">
        <md-input-container flex="60" class="row-padR">
            <label>Search Club</label>
            <input type="text" ng-model="searchQuery" ng-change="searchChanged(searchQuery)">
        </md-input-container>

        <div flex="20" class="searchWrapper">
            <md-button class="md-raised" ng-click="showAll()">Show All</md-button>
        </div>

        <div flex="20" layout-align="center center">
            <md-button class="md-raised" ng-click="emptySportClub()">New Sport Club</md-button>
        </div>
    </div>

    <div layout="row" class="row-padLR">
        <md-progress-circular ng-if="sportClubListLoading" md-mode="indeterminate"
                              md-diameter="50"></md-progress-circular>
        <p ng-if="noResults && filteredSportClubs.length == 0">No Results</p>
        <ul class="contentList" ng-if="showRecords">
            <li ng-repeat="sportclub in filteredSportClubs" ng-click="selectSportClub(sportclub)">{{sportclub.name}}</li>
        </ul>
    </div>

    <div class="selectedSportClub" ng-show="$root.selectedSportClub && searchQuery == ''">
        <form name="sportClubForm" ng-app="berpadAdmin" novalidate>
            <div layout="row" class="row-padLR">
                <md-input-container class="row-padR" flex="50" md-is-error="businessForm.business_ref.$invalid">
                    <label>Club Name</label>
                    <input type="text" name="business_name" ng-required="true" ng-minlength="3" ng-model="$root.selectedBusiness.name">
                    <div ng-messages="sportClubForm.club_name.$error"
                         ng-if="sportClubForm.club_name.$dirty">
                        <div ng-message="ng-required">Club Name is required!</div>
                        <div ng-message="ng-minlength">Must be at least 3 characters!</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" class="row-padLR">
                <md-button ng-if="$root.selectedSportClub.id" class="md-primary" ng-click="updateSportClub()"
                       ng-disabled="sportClubForm.$invalid">Update
                </md-button>
                <md-button ng-if="!$root.selectedBusiness.id" class="md-primary" ng-click="saveSportClub()"
                       ng-disabled="sportClubForm.$invalid">Create
                </md-button>
            </div>
        </form>

        <div layout="row" class="row-padLR">
            <div flex="50">
                <h2 class="marginV5">Members:</h2>
            </div>

            <div flex="50">
                <button ng-if="!memberCrudVisible" ng-click="addMemberClicked()"
                        class="btn light-green accent-4 waves-effect waves-light btn-primary" style="float:right;">Add a New Member
                </button>
            </div>
        </div>

        <div layout="row" class="row-padLR">
            <table flex="100" class="table table-striped">
                <tbody>
                <tr ng-repeat="site in $root.selectedSportClub.club_members">
                    <td class="col-lg-10">{{site.name}}</td>
                    <td class="col-lg-2">
                        <i class="fa fa-pencil fa-2x crudIcon" ng-click="editMemberClicked(site)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
